@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
/* font-family: 'Inter', sans-serif; */

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h1 {
    font-family: 'Inter', sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}

p {
    font-family: 'Inter', sans-serif;
    color: #4d4e53;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
}

.main-section ul li {
    font-family: 'Inter', sans-serif;
    color: #4d4e53;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8;
}

code {
    color: #4d4e53;
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}

#navbar {
    width: 25%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

#navbar--heading {
    padding-left: 30px;
}

#navbar > ul {
    height: 88%;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
}

#navbar ul li {
    border-top: 1px solid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navbar ul li a {
    font-family: 'Inter', sans-serif;
    color: #4d4e53;
    font-weight: 400;
    line-height: 1.8;
    text-decoration: none;
    display: block;
    padding: 10px 30px;
}

.nav--reference {
    margin-bottom: 16px;
}

#main-doc {
    margin-left: 25%;
    position: absolute;
    padding: 10px 30px;
}

/* RESPONSIVE MODE */

@media (max-width: 768px) {
    html {
        font-size: 8px;
    }

    h1 {
        font-size: 1.5rem;
    }

    #navbar--heading {
        padding: 0 8px;
        font-size: 1.3rem;
    }

    #navbar ul li a {
        padding: 8px;
    }

    #main-doc {
        padding: 8px;
        left: 0;
        top: 0;
    }
}
